mat-toolbar{
  max-width: 1220px;
  height: 100px;
  background-color: #252424;
  border-radius: 60px;
  margin: auto;
}
mat-form-field {
  width: 200px;
  border-radius: 60px;
  border: none;
  background-color: beige;
}
.mdc-text-field {
 position: unset;
}

::placeholder {
  color: lightgray;
  font-size: large;
}


