:host {
    display: block;
  }

  .carousel-container {
    overflow: hidden;
  }

  .carousel {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .carousel-item {
    min-width: 400px;
  }




