.select-custom {
    appearance: none;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M5.293%207.293a1%201%200%20011.414%200L10%2010.586l3.293-3.293a1%201%200%20111.414%201.414l-4%204a1%201%200%2001-1.414%200l-4-4a1%201%200%20010-1.414z%22%20fill%3D%22%23015F46%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    background-position: right 0.5rem center;
  }
  select option {
    position: relative !important;
    transform: none !important;
    top: 0 !important;
  }

  select{
    background-color: #9FCD9F;
    color: black;
  }
