<div class="flex-col bg-card m-auto rounded-2xl px-8  py-4 gap-5">
  <h2 class="pb-3">Critères</h2>
  <div class="flex justify-between">
    <div class="flex gap-5">
      <img ngSrc="/assets/state.svg" alt="Shoes" width="50" height="50"/>
      <div class="flex flex-col gap-4">
        <p class="">État</p>
        <p class="">{{announcement.state}}</p>
      </div>
    </div>
    <div class="flex gap-5">
      <img ngSrc="/assets/color.svg" alt="Shoes" width="50" height="50"/>
      <div class="flex flex-col gap-4">
        <p>Couleur</p>
        <p>{{announcement.color}}</p>
      </div>
    </div>
    <div class="flex gap-5">
      <img ngSrc="/assets/material.svg" alt="Shoes"  width="50" height="50"/>
      <div class="flex flex-col gap-4">
        <p>Matière</p>
        <p>{{announcement.material}}</p>
      </div>
    </div>
  </div>
</div>
