<app-auth-layout>
  <div class="w-full max-w-md pl-8">
    <h1 class="text-2xl pb-3">Changer mon mot de passe</h1>
    <h2 class="text-sm pb-5">Entrez le code de vérification reçu sur votre adresse e-mail</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class=" flex flex-col gap-2 pb-8">
        <div>
          <span>Saisissez le code de vérification</span>
        </div>
        <div>
          <input 
          type="text"
          inputmode="numeric"
          pattern="[0-9]*"
          class="w-full  h-10 md:h-12 text-gray-500 font-medium  border rounded-md" 
          placeholder="000000"
          name="resetKey"
          formControlName="resetKey"
          maxlength="6"
        />
        </div>
        
      </div>
      <app-button type="submit" label="Envoyer" class="w-full mt-4 mb-4"></app-button>
    </form>
    <div class="p-4 text-center text-sm">
      Je n’ai rien reçu <a class="font-bold underline"> Me renvoyer un code</a>
    </div>
    <div class="border-t border-gray-300 w-full my-4"></div>
    <div class="text-center m-4">
      <a routerLink="/auth/login" class="text-link">Revenir à la page de connexion</a>
    </div>
  </div>
</app-auth-layout>
